version: '3.7'
services:
    web:
        build:
            context: ./server
            dockerfile: Dockerfile.prod
        env_file:
            - .env/production.env
        command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    db:
        env_file:
            - .env/production.env
    rq:
        build:
            context: ./server
            dockerfile: Dockerfile.dev
        env_file:
            - .env/production.env
    client:
        build:
            context: ./client
            dockerfile: Dockerfile.prod
        environement:
          - NODE_ENV=production
        env_file:
            - .env/production.env
        volumes:
          - ./client/node_modules:/app/node_modules
            - volume-static:/var/www/staticfiles:ro
            - volume-media:/var/www/mediafiles:ro
            - ./nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template
            - /etc/letsencrypt:/etc/letsencrypt
            - /var/lib/letsencrypt:/var/lib/letsencrypt
        ports:
            - 80:80
            - 443:443
