version: "3.7"
services:
  web:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    volumes:
      - ./server/:/home/app/web/
    env_file:
      - .env/development.env
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
  db:
    env_file:
      - .env/development.env
  rq:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    env_file:
      - .env/development.env
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    volumes:
      - ./client:/home/node/
      - "/home/node/node_modules" # prevents overwriting of node_modules
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    command: npm start
