POSTGRES_HOST=app-db
POSTGRES_PORT=5432
POSTGRES_DB=django
POSTGRES_USER=django
POSTGRES_PASSWORD=django

REDIS_URL=redis://app-redis:6379/1
REDIS_HOST=app-redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_TIMEOUT=600

DJANGO_SECRET_KEY=not-secure-password
DJANGO_ALLOWED_HOSTS=*
DJANGO_CORS_ORIGIN_WHITELIST=*
DJANGO_ADMIN_URL=admin/
