POSTGRES_HOST=app-db
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_URL=redis://app-redis:6379/1
REDIS_HOST=app-redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_TIMEOUT=600

DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost,api,admin
DJANGO_CORS_ORIGIN_WHITELIST=
DJANGO_SITE_ID=1

NGINX_HOST=YOUR_DOMAIN.de
